<main id="main" class="main">
  <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">Tables</li>
              <li class="breadcrumb-item active">Data</li>
          </ol>
      </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <a routerLink="/create-task-managment" class="btn btn-primary m-2">Create Task</a>
        <div class="card">
          <div class="card-body">
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">#</th>
                  <th scope="col">Call Type</th>
                  <th scope="col">Business Name</th>
                  <th scope="col">Service Type</th>
                  <th scope="col">Open Date</th>
                  <th scope="col">Assigned To</th>
                  <th scope="col">Last Update</th>
                  <!-- <th scope="col">CL Customer ID</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of taskArray">
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1" [checked]="task.status.trim() === 'Completed'">
                    </div>
                  </td>
                  <td  scope="row">{{ task.ticketId }}</td>
                  <td>{{ task.callType }}</td>
                  <td>{{ task.businessName }}</td>
                  <td>{{ task.serviceType }}</td>
                  <td>{{ task.openDate }}</td>
                  <td>{{ task.assignedName }}</td>
                  <td>{{ task.lastUpdate }}</td>
                  <!-- <td>{{ task.clCustomerId }}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

